// Primary Colors
$blue: #009eeb;
$hover-blue: #007dba;
$blue-2: #008dd1;
$green: #13ce66;
$hover-green: #0f9f4f;
$yellow: #ffc82c;
$hover-yellow: #f8b700;
$red: #ff5216;
$hover-red: #e23a00;

//Greys
$white: #fff;
$off-white: #f8fafa;
$grey-1: #f1f1f1;
$grey-2: #d8d8d8;
$grey-3: #a3a3a3;
$grey-4: #818181;
$black: #282828;

// Box Shadow

$shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$shadow-md: 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.0008);
$shadow-lg: 0px 15px 30px rgba(0, 0, 0, 0.11), 0px 15px 5px rgba(0, 0, 0, 0.0008);
$no-shadow: none;

.flex {
    display: flex;
}

.flex1{
    flex: 1 !important;
}

.flex2{
    flex: 2 !important;
}

.ai-center {
    align-items: center;
}

.ai-start {
    align-items: flex-start;
}

.ai-end {
    align-items: flex-end;
}

.jc-center {
    justify-content: center;
}

.jc-start {
    justify-content: flex-start;
}

.jc-end {
    justify-content: flex-end;
}

.jc-between {
    justify-content: space-between;
}

.jc-around {
    justify-content: space-around;
}

//Misc
$buttonHeight: 41px;
$transition: all 300ms cubic-bezier(.475,.425,0,.995);
$easing: cubic-bezier(.475,.425,0,.995);

//CTA Bar

.cta-bar{
    padding: 30px;
    background: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.11);
    z-index: 3;
    position: sticky;
    top: 0;

    .estimate{
        span{
            font-size: 16px;
            margin-bottom: 20px;
            display: block;
            line-height: 0;
        }

        h3{
            margin: 0;
            font-size: 32px;
            font-weight: bold;
        }
    }
    
    .cta{
        a{
            font-size: 16px;

            svg{
                margin-right: 10px;
                width: 18px;
                height: 18px;
            }
        }

        button{
            margin: 0;
            margin-left: 40px;
            color: $white;
        }
    }
}

// HV Top

.hv-top{
    display: flex;
    align-items: flex-start;
    padding: 30px;
    max-width: 1700px;
    margin: 0 auto;

    .col{

        &:first-child{
            width: 400px;
            margin-right: 15px;
        }

        &:last-child{
            margin-left: 15px;
            flex: 1;
        }
    }
}

.prop-details{
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid $grey-2;
    border-radius: 3px;

    .map-wrapper{
        margin: -20px -20px 0;
    }

    .details-wrapper{
        h4{
            margin: 15px 0 2px;
            font-weight: bold;
            font-size: 22px;
        }
        span:first-child{
            font-size: 16px;
        }

        .details{
            margin: 10px 0 15px;
        }
    }

    .edit-home-info{
        color: $blue;
        transition: $transition;
        cursor: pointer;

        &:hover{
            color: $hover-blue;
        }

        svg{
            width: 18px;
            height: 18px;
            margin-right: 5px;
        }
    }
}

.agent-info-block{
    border-radius: 3px;
    border: 1px solid $grey-2;

    .header{
        font-weight: bold;
        font-size: 16px;
        border-bottom: 1px solid $grey-2;
        padding: 10px 20px;
    }

    .agent-contact-info{
        padding: 20px;

        .avatar{
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-right: 15px;
        }

        h5{
            margin: 0 0 4px;
            font-weight: bold;
        }

        .phone-email-wrapper{
            font-size: 14px;

            a:first-child{
                margin-right: 20px;
            }

            svg{
                width: 16px;
                height: 16px;
                margin-right: 5px;;
            }
        }
    }

    .agent-tagline{
        padding: 0 20px 0;
        height: 60px;
        overflow-y: auto;
    }
}

.details{
    display: flex;
    align-items: center;

    .dot{
        width: 5px;
        height: 5px;
        margin: 0 15px;
        background: $grey-4;
        border-radius: 50%;
    }
}

.chart-block{
    border: 1px solid $grey-2;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;

    .chart-wrapper{
        height: 260px;
    }

    .chart-legend{
        margin-bottom: 15px;
        font-size: 14px;

        > div{
            margin-left: 20px;

            &:first-child{
                margin-left: 0;
            }
        }

        .color{
            border-radius: 50%;
            width: 8px;
            height: 8px;
            background: #79C7FF;
            margin-right: 5px;

            &.comp-houses{
                background: #BBE3FF;
            }

            &.line{
                height: 3px;
                border-radius: 0;
                background: #179EFF;
            }
        }
    }
}

.comp-table-block{
    // border: 1px solid $grey-2;
    border-radius: 3px;

    table{
        width: 100%;
        padding: 20px;

        thead{
            border: 1px solid $grey-2;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            
            th{
                padding: 10px 20px;
            }
        }
        
        tbody{
            border: 1px solid $grey-2;
            border-top: none;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;

            td{
                padding: 7px 20px;
            }

            tr:first-child{
                td{
                    padding: 10px 20px 7px;
                }
            }

            tr:last-child{
                td{
                    padding: 7px 20px 10px;
                }
            }
        }
    }

    .plus-minus{
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-left: 5px;
        display: none;

        &.up{
            color: $green;
            display: block;
        }

        &.down{
            color: $red;
            display: block;
        }

        svg{
            width: 16px;
            height: 16px;
        }
    }
}

.hv-bottom{
    padding: 30px;
    max-width: 1700px;
    margin: 0 auto 50px;
}

.comps-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 0;

    &:first-child{
        margin: 0;
    }

    h3{
        font-weight: bold;
        font-size: 24px;
    }

    .arrows{
        display: flex;
        align-items: center;

        div:first-child{
            margin-right: 15px;
        }

        div{
            transition: $transition;

            &.slick-disabled{
                color: $grey-3;
            }
        }
    }
}

//Listing

.listing{
    outline: none !important;
    margin:0 10px;

    &.removed{
        .listing-price{
            background: $grey-4 !important;
            color: $grey-2 !important;
        
            &:before{
                border-top-color: $grey-4 !important;
            }
        }
    }
    
    .listing-inner{
        background: $white;
        border-radius: 3px;

        .listing-top{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 200px;
            position: relative;
        }

        .listing-price{
            position: absolute;
            left: -10px;
            top: 10px;
            padding: 3px 15px;
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            transition: $transition;

            &::before{
                width: 0;
                height: 0;
                border-color: inherit;
                border-left: 10px solid transparent;
                border-right: 0px solid transparent;
                border-top: 10px solid;
                content: "";
                position: absolute;
                left: 0px;
                top: 36px;
                transition: $transition;
            }
        }

        .listing-bottom{
            border: 1px solid $grey-2;
            border-top: none;
            padding: 20px;

            h4{
                margin: 0 0 5px;
                font-weight: bold;
            }

            .details{
                padding: 0 20px 15px;
                margin: 5px -20px;
                border-bottom: 1px solid $grey-2;

                &.sold-date{
                    margin: 15px -20px 10px;
                    padding: 0 20px;
                    border: none;
                }
            }
        }

        .listing-actions-wrapper{
            transition: $transition;
            margin-left: 0;
            display: flex;
            align-items: center;

            .listing-action{
                display: flex;
                align-items: center;
                justify-content: center;
                transition: $transition;
                cursor: pointer;
                color: $blue;

                &:hover{
                    color: $hover-blue;
                }

                svg, img{
                    height: 19px;
                    width: 19px;
                    margin-right: 5px;
                }
            }
        }
    }
}